<section>
	<h1>Board：<%=@board.name%></h1>
	<hr />
	<div id="controlBar">
		<% if @view_only and @permissionEdit then %>
			<a jhref="<%=url_for :mode=>:edit_mode %>" class="button" >Edit Mode</a>
		<% elsif @permissionEdit %>
			<a jhref="<%=url_for :mode=>:view_only %>" class="button" >View Mode</a>
		<% end %>
		<span id="reactNewTaskArea" ></span>
		<% if @permissionSetting then %>
			<a href="<%=url_for :action=>:setting, :id=>@board.id %>" class="button" >Setting</a>
		<% end %>
	</div>
	<div id="task_panel"
		style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;" 
		unselectable="on"
		onselectstart="return false;" ></div>

	<script type="text/javascript">
	var url_api_get_task = '<%=url_for :controller=>:api, :action=>:get_task, :format=>:json %>';
	var url_api_new_task = '<%=url_for :controller=>:api, :action=>:new_task, :format=>:json %>';
	var url_api_save_position = '<%=url_for :controller=>:api, :action=>:save_position, :format=>:json %>';

	var url_icon_crop = '<%= asset_path 'ic_crop_black_24dp_2x.png' %>';
	var url_icon_move = '<%= asset_path 'ic_open_with_black_24dp_2x.png' %>';
	var url_icon_edit = '<%= asset_path 'ic_create_black_24dp_2x'%>';


	var board_id = <%=@board.id%>;
	var panel_height = $('#task_panel').height();
	var panel_width = $('#task_panel').width();

	var user_list = <%= @users.to_json.to_s.html_safe %>;
	var state_list = <%= @states.to_json.to_s.html_safe %>;
	var canEdit = <%=@canEdit%>;

	$(document).ready(function(){
		var onResize = function(){
			$('#task_panel').height($(window).height() - $('#task_panel').offset().top - 80 );
			panel_height = $('#task_panel').height();
			panel_width = $('#task_panel').width();
		}
		$(window).resize(onResize)
		onResize();
		var newTask = false;
		if(canEdit){
			newTask = React.createElement(NewTask);
		}
		ReactDOM.render(React.createElement('span', {},
				newTask,
				React.createElement(GoOrigin)
				), document.getElementById('reactNewTaskArea'));

		var urlHash = getURLHash();
		console.log(urlHash);
		ReactDOM.render(React.createElement(TaskPanel, {
			canEdit:canEdit,
			x : urlHash.x || 0,
			y : urlHash.y || 0
		} ), document.getElementById('task_panel'));
	})

	$('[jhref]').click(function(){
		var href = $(this).attr('jhref');
		href += window.location.hash;
		window.location.href = href;
	});
	</script>
</section>